<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Feedback</title>

    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/feedback.css">
    <script src="../static/script/feedback.js"></script>
</head>
<body>

<div id="header-container">
    <header class="header">
        <div class="logo">
            <a title=""  href="" class="logo-image" id="logo-image">
                <img src="../images/logo.png" alt="">
            </a>
            <div class="logo-text"><span style="color: #FFEDDC;">Just</span><span style="color: #DDA15E;">In</span><span style="color: #E48826;">Time</span>
            </div>
        </div>
        <nav class="nav-links">
            <a href="#rules">Regolamento</a>
            <div class="logo">
                <a title=""  href="" class="logo-image" id="user-image">
                    <img src="../static/images/user.png" alt="">
                </a>
            </div>
            <a href="#logout">Logout</a>
        </nav>
    </header>
</div>

<div class="feedback-container">

    <h1 id="feedback">Lascia un feedback!</h1>
    <div class="container">
        <div class="star-container">
            <img class="star" id="star1" src="../static/images/star.png">
            <img class="star" id="star2" src="../static/images/star.png">
            <img class="star" id="star3" src="../static/images/star.png">
            <img class="star" id="star4" src="../static/images/star.png">
            <img class="star" id="star5" src="../static/images/star.png">
        </div>
        <textarea class="feedback-textbox" rows="5" placeholder="Scrivi il tuo feedback qui..."></textarea>
    </div>
    <button class="submit-button">Invia</button>
</div>

<div id="footer-container">
    <footer class="footer">
        <div class="nav-links">
            <a href="#contatti">Contatti</a>
        </div>
        <div class="logo">
            <img class="logo-image" src="../static/images/logo.png" alt="">
        </div>
    </footer>
</div>

</body>
</html>