<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JustInTime</title>
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/rules.css">
  <link rel="stylesheet" href="../static/css/header.css">
  <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>
<div id="header-container">
  <header class="header">
    <div class="logo">
      <a title=""  href="" class="logo-image" id="logo-image">
        <img src="../images/logo.png" alt="">
      </a>
      <div class="logo-text"><span style="color: #FFEDDC;">Just</span><span style="color: #DDA15E;">In</span><span style="color: #E48826;">Time</span>
      </div>
    </div>

    <nav class="nav-links">
      <a href="#rules">Regolamento</a>
      <a href="#login">Login</a>
    </nav>
  </header>
</div>

<main>
  <div class="rules-container">
    <h1 id="title">Regolamento</h1>
    <p><b>Requisiti:</b><br> Tutti i giocatori devono essere registrati alla piattaforma.
      <br> La partita supporta dai 2 ai 4 giocatori.
      <br><br> <b>Inizio:</b><br> Ogni giocatore riceve 5 carte casuali
      <br> Sul tavolo da gioco saranno presenti altri 2 mazzi, il mazzo di scarto e il mazzo di pesca, inizialmente di 60 carte.
      <br> Il mazzo di scarti avrà una carta numerata o un jolly all’inizio della partita.
      <br> Il totale delle carte presenti nel mazzo di pesca è 60.
      <br> Sarà presente anche un timer che terrà conto del tempo di ognuno dei giocatori durante il loro turno.
      <br><br> <b>Ordine del gioco:</b><br> Ad inizio di ogni partita deve essere deciso l’ordine e i turni di ogni giocatore.
      <br><br> <b>Giocare una carta:</b><br> Il sistema deve permettere a ogni giocatore di giocare una carta con valore +1 o -1 rispetto alla carta presente sulla cima del mazzo di scarto.
      <br><br> <b>Gestione tempo:</b><br> In base alle regole deve avvenire una riduzione o un aumento del tempo del turno di ogni giocatore.
      <br><br> <b>Pesca:</b><br> Se un giocatore pesca una carta, il sistema deve ridurre il tempo disponibile per i suoi turni futuri di 1 secondo.
      <br><br> <b>Effetto carte speciali:</b><br> La carta “Accelera” deve ridurre di 2 secondi il tempo del turno del giocatore successivo.
      <br> La carta “Rallenta” deve aggiungere 2 secondi al tempo del turno del giocatore che ha ottenuto la carta.
      <br> La carta “Jolly” può essere giocata in qualunque momento del proprio turno e vale il numero sulla carta in cima al mazzo di scarti aumentato di +1.



    </p>
  </div>
</main>

<div id="footer-container">
  <footer class="footer">
    <div class="nav-links">
      <a href="#contatti">Contatti</a>
    </div>
    <div class="logo">
      <img class="logo-image" src="../images/logo.png" alt="">
    </div>
  </footer>
</div>
</body>
</html>
