<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustInTime</title>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/startmatch.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>
<div id="header-container">
    <header class="header">
        <div class="logo">
            <a title=""  href="" class="logo-image" id="logo-image">
                <img src="../images/logo.png" alt="">
            </a>
            <div class="logo-text"><span style="color: #FFEDDC;">Just</span><span style="color: #DDA15E;">In</span><span style="color: #E48826;">Time</span>
            </div>
        </div>

        <nav class="nav-links">
            <a href="rules.html">Regolamento</a>
            <a href="login.html">Login</a>
        </nav>
    </header>
</div>

<main>
    <div class="turnof-container">
        <h1 class="usernametitle">Turno di</h1>
        <h1 class="usernametitle" id="username">UserName</h1>
        <button class="start-button">OK</button>
    </div>
</main>

</body>
</html>
