@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jua', Arial, sans-serif;
    background-color: #8BAC4F;
    color: #F5ECD8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Contenitore degli obiettivi */
.achievements-container {
    margin: 120px;
    padding: 20px;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.achievement {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Sezione sinistra: Nome utente e obiettivi */
.achievements-left {
    width: 90%;
}

.achievements-left h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Obiettivo card */
.achievement-card.completed {
    background-color: #E48826;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
}

.achievement-card {
    background-color: #D1A376;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 87%;
}

.achievement-card h2 {
    font-size: 20px;
    color: #F5ECD8;
}

.achievement-card p {
    margin-top: 5px;
    font-size: 16px;
}

/* Sezione destra: Trofei */
.achievements-right {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #658B3F;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 0;
    top: 120px;
    margin-right: 10%;
    margin-top: 40px;
}

.achievements-right h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #2D3B1F;
}

.achievements-right .completed-count {
    font-size: 36px;
    color: #E48826;
    margin-bottom: 20px;
}

.trophy{
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    margin-left: 40px;
}