body {
    margin: 0;
    font-family: 'Jua', Arial, sans-serif;
    background-color: #8BAC4F;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    max-height: 100%;
}

.deck label {
    color: #FFEDDC;
    font-size: 40px;
    margin-left: 10px;
}

.deck img {
    width: 150px;
    margin-right: 10px;
}

.deck {
    position: absolute;
    top: 100px;
    right: 25px;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

.deck img:hover {
    transform: scale(1.05);
}

.timeleft {
    margin-top: 120px;
    font-size: 45px;
    color: #FFEDDC;
}

.ontable-cards {
    display: flex;
    justify-content: center;
    height: fit-content;
}

.ontable-cards img {
    width: 60%;
    margin-right: 10px;
}

.onhand-cards {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    max-width: 100%;
    padding: 0 10px;
}

.onhand-cards img {
    flex-shrink: 0;
    margin: 0 10px 10px;
    cursor: pointer; /* Cambia il cursore a una mano per indicare che è cliccabile */
    transition: transform 0.2s;
}

.onhand-cards img:hover {
    transform: scale(1.05); /* Ingrandisci leggermente la carta al passaggio del mouse */
}

#alert-banner {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFEDDC;
    color: #333;
    padding: 20px;
    border: 2px solid #DDA15E;
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
}

#alert-banner button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #DDA15E;
    color: #FFEDDC;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#popup-container h1 p{
    color: #FFEDDC;
}

#popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 0, 0, 0.6); /* Sfondo semitrasparente di base */
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

#popup-container.blurred {
    backdrop-filter: blur(25px); /* Applica sfocatura */
}

#popup-container.normal {
    backdrop-filter: none; /* Nessuna sfocatura */
}

#popup-container .popup-content {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: #FFEDDC;
    font-size: 24px;
}
