@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    font-family: 'Jua', Arial, sans-serif;
    background-color: #8BAC4F;
    display: flex;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 100%;
    position: relative;
}

.top-buttons {
    margin: 120px 50px 0 50px;
    display: flex;
    justify-content: space-between;
}

.top-button, .bottom-button {
    height: 10%;
    width: 40%;
    margin: 20px 20px 20px 0;
    background-color: #DDA15E;
    border: none;
    border-radius: 15px;
    padding: 15px 30px;
    font-size: 1.5vw;
    cursor: pointer;
    color: #F5ECD8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#achievement {
    margin-left: 25%;
    width: 30%;
}

.main-button {
    background-color: #E48826;
    border: none;
    border-radius: 20px;
    padding: 20px;
    font-size: 4vw; /* Font size relative to viewport width */
    text-align: center;
    cursor: pointer;
    color: #F5ECD8;
    display: flex;
    margin: 40px 40px 40px 50px;
    height: 35%;
    width: 50%;
    position: absolute;
    left: 0;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.score {
    font-size: 2.8vw;
    color: #F5ECD8;
    margin-left: 50%;
    margin-top: 80px;
}

#score {
    font-size: 4vw;
    margin-top: 40px;
}

.bottom-button {
    position: absolute;
    bottom: 15%;
    left: 0;
    margin-left: 50px;
}

button:hover, .main-button:hover {
    background-color: #d9773b;
    transform: scale(1.05);
}
